// Colors
// -------------------------

$gray-base:                 #000 !default
$gray-darker:               lighten($gray-base, 13.5%) !default // #222
$gray-dark:                 lighten($gray-base, 20%) !default   // #333
$gray:                      lighten($gray-base, 33.5%) !default // #555
$gray-light:                lighten($gray-base, 46.7%) !default // #777
$gray-lighter:              lighten($gray-base, 93.5%) !default // #eee

$brand-primary:             #03a9f4 !default
$brand-success:             #5cb85c !default
$brand-info:                #5bc0de !default
$brand-warning:             #f0ad4e !default
$brand-danger:              #d9534f !default


// Scaffolding
// -------------------------

$body-bg:                   #fff !default
$text-color:                $gray-dark !default
$link-color:                $brand-primary !default
$link-hover-color:          darken($link-color, 15%) !default


// Typography
// -------------------------

$font-family-sans-serif:    "Avenir Next", "Helvetica Neue", Arial, sans-serif
$font-size-base:            16px

$line-height-base:          1.428571429 !default // 20/14

$headings-color:            inherit !default
$headings-font-family:      inherit !default
$headings-font-weight:      500 !default


// Media queries
// -------------------------

$screen-xs-min:             480px !default
$screen-sm-min:             768px !default
$screen-md-min:             992px !default
$screen-lg-min:             1200px !default

$screen-xs-max:             ($screen-sm-min - 1) !default
$screen-sm-max:             ($screen-md-min - 1) !default
$screen-md-max:             ($screen-lg-min - 1) !default


// Grid system
// -------------------------

$grid-columns:              12 !default
$grid-gutter-width:         32px !default
$grid-float-breakpoint:     $screen-sm-min !default
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default


// Container sizes
// -------------------------

$container-sm:              (720px + $grid-gutter-width) !default
$container-md:              (940px + $grid-gutter-width) !default
$container-lg:              (1140px + $grid-gutter-width) !default


// Container sizes
// -------------------------

$zindex-navbar:            1000 !default
$zindex-dropdown:          1000 !default
$zindex-popover:           1060 !default
$zindex-tooltip:           1070 !default
$zindex-navbar-fixed:      1030 !default
$zindex-modal-background:  1040 !default
$zindex-modal:             1050 !default
